<section class="hero-section">
    <div class="container">
        <div class="row figure-holder">
            <div class="col-12 col-md-6 pt-3 pt-md-4">
                <h2 class="site-headline font-weight-bold mt-lg-5 pt-lg-5">{{ site.subtitle }}</h2>
                <div class="site-tagline mb-3">{{ site.description }}</div>
                <div class="cta-btns">
                    <ul class="app-stores list-unstyled list-inline mx-auto mx-md-0 d-inline-block">
                        {% for link in site.herobuttons %}
                            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                            <li class="list-inline-item">
                                <a class="btn btn-{% if thecycle == 'odd' %}primary{% else %}secondary{% endif %} font-weight-bold theme-btn" href="{{ link.url }}"><i class="fab {{ link.icon }} fa-fw"></i> {{ link.title }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!--//row-->
    </div>
</section><!--//hero-section-->