<section class="hero-section">
    <div class="container">
        <div class="row figure-holder">
            <div class="col-12 col-md-6 pt-3 pt-md-4">
                <h2 class="site-headline font-weight-bold mt-lg-5 pt-lg-5">{{ site.subtitle }}</h2>
                <div class="site-tagline mb-3">{{ site.description }}</div>
                <div class="cta-btns">
                    <div class="mb-4"><a class="btn btn-primary font-weight-bold theme-btn" href="https://themes.3rdwavemedia.com/bootstrap-templates/free/nova-bootstrap-landing-page-template-for-mobile-apps/">Try Nova for FREE</a></div>
                    <ul class="app-stores list-unstyled list-inline mx-auto mx-md-0 d-inline-block">
                        <li class="list-inline-item mr-3"><a href="#{{ site.appstoreid }}"><img class="ios" src="assets/images/appstore-apple.svg" alt="app-store"></a></li>
                        <li class="list-inline-item"><a href="#{{ site.playstoreid }}"><img class="android" src="assets/images/appstore-android.svg" alt="google play"></a></li>
                    </ul>
                </div>
            </div>
        </div><!--//row-->
    </div>
</section><!--//hero-section-->